.post{
    background-color: #333132;
    margin: 20px 0px;
    width: 500px;
    padding: 0px 20px;
}

.post h3, span, a{
    color: #FFF;
}

.mensagem{
    display: block;
}

.botoes{
    display: flex;
    justify-content: space-between;
}

a{
    margin-right: 20px;
    padding: 10px;
}

a:hover{
    background-color: #FFF;
    color: #333132;
    cursor: pointer;
}

.likes, .excluir{
    margin: 20px 0;
}
